<div class="modal">
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="text" ng-model="loginData.email" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="loginData.password" required>
      </label>
      <label class="item">
        <a class="button button-positive" ng-disabled="form.$invalid" ng-click="doLogin(loginData)">Log in</a>
        <a class="button button-balanced" ng-disabled="form.$invalid" ng-click="doSignup(loginData)">Sign up</a>
      </label>
    </div>
  </ion-content>
</div>

