<ion-view title="Spicewords">
  <ion-nav-buttons side="left">
    <!--<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>-->
    <paper-icon-button icon="menu" menu-toggle="left"></paper-icon-button>
  </ion-nav-buttons>
  <ion-content class="has-header background">
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Type message + select reciepent...">
      </label>
    </div>
    <paper-button label="flat button">TEST</paper-button>
    
    <core-scroll-header-panel>
  <core-toolbar>Header</core-toolbar>
  <div content>Content goes here...</div>
</core-scroll-header-panel>

    <h2>The Crew</h2>
    <!-- getting rid of this to start using new version
    <ion-scroll direction="x" scrollbar-y="false" has-bouncing="false" zooming="false" class="wide-as-needed">
        <a class="circle side-margin inset-shadow" ng-repeat="favorite in favorites" ng-click="message(favorite)">
            {{favorite}}
        </a>
    </ion-scroll>
  -->


    <ion-scroll direction="x" scrollbar-y="false" has-bouncing="false" zooming="false" class="wide-as-needed" >
      <div class="mainPerson avatar"  ng-click="message(favorite)">
         <a class="nameofPerson">0enn S.</a>
      </div>

      <div class="mainPerson avatar"  ng-click="message(favorite)">
         <a class="nameofPerson">Yuri K.</a>
      </div>

      <div class="mainPerson avatar"  ng-click="message(favorite)">
         <a class="nameofPerson">Venny S.</a>
      </div>

      <div class="mainPerson avatar"  ng-click="message(favorite)">
         <a class="nameofPerson">WTFisthis S.</a>
      </div>
    
      </ion-scroll>

    
    <h2>The List</h2>
    <ion-scroll direction="x" scrollbar-y="false" has-bouncing="false" zooming="false" class="wide-as-needed">
        <a class="circle side-margin inset-shadow" ng-click="openOrCreateChat()">
            New Chat
        </a>
        <a class="circle side-margin inset-shadow" ng-repeat="chat in chats" ng-click="openOrCreateChat(chat.id)">
            {{favorite}}
        </a>
    </ion-scroll>
  </ion-content>
</ion-view>
