input.MessageBox {
	width: 345px;
	height: 80px;
	font-size: 30px;
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
  padding-bottom: 10px;
}
.chat-as-needed {
  overflow-y: scroll;
  white-space: nowrap;
}


.side-margin {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.inset-shadow {
  -webkit-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 25px 0px rgba(0,0,0,0.75);
}

.circle {
  background-color: red;
  color: white;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 100px;
  min-height: 100px;
  border: 2px solid white;
  border-radius: 50px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 100px;
  cursor: pointer;
  margin-bottom: 20px;
}

.topPeers{
	width:320px;
	height:195px;
	overflow-y: hidden;
  	overflow-x: scroll;
  	-webkit-overflow-scrolling: touch;
}
.otherPeers{
	width:320px;
	height:220px;
	overflow-y: hidden;
  	overflow-x: scroll;
  	-webkit-overflow-scrolling: touch;
}

.peerNames {
	padding-top: 40px;
	margin: 0px auto;
	text-align: center;
}

#div_1{
	height: 125px;
	width: 320px;
	overflow-y: hidden;
	overflow-x: scroll;
}

#div_3{
	float: left;
	height: 350px;
	width: 500px;
	margin: auto;
	overflow-y: hidden;
	overflow-x: scroll
}

#div_2 {
	height: 100px;
	width: 100px;
	float: left;
	padding-left: 5px;
}
/* Empty. Add your own CSS if you like */
.background {
  background-color: #FFCC00;
}
.chatWrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  width: 550px;
}
.scroll-view-messages{
  height:90% !important;
  position: absolute !important;
  width: 550px !important;
}

.select-user-chat {
  height:50px !important;
  position: absolute !important;
  width: 550px !important;
}

.noti_bubble {
  position: absolute;
  top: 1px;
  right: -3px;
  line-height: 19px;
  background-color: rgba(255, 186, 0, 0.91);
  color: white;
  font-weight: bold;
  font-size: 0.55em;
  border-radius: 30px;
  box-shadow: 1px 1px 1px gray;
  height: 22px;
  width: 22px;
}

.Mainmessages{
  height:550px !important;
  position: absolute !important;
  
}

div.list.list-inset.ChatMessageBox {
  position: fixed;
  bottom: 4px;
  width: 95%;
}
ion-scroll.Mainmessages.scroll-view.ionic-scroll {
  margin-top: 30px;
}

::-webkit-scrollbar { 
    display: none; 
}

/* chat CSS*/
body { padding-top:30px; }
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.header { padding: 10px;}
.col-xs-2 .col-md-1 img { padding-right: 20px; color:#FFFFFF;}
.row img { float:left; padding-right: 4px; padding-left: 4px;}

.time { 
  position: relative;
  top: 5px;
  font-size: 8px;
  color: #F00;
  left: -50px;
}

.time2 { 
  font-size: 8px;
  padding-left: 0px;
  color: #FF0A0A;
  position: relative;
  right: 50px;
  top: 6px;
}

i.ion-play {
margin-right: 10px;
padding-left:15px;
}

.card .item.item-input input, .list-inset .item.item-input input, .padding > .list .item.item-input input, .padding-horizontal > .list .item.item-input input {
padding-right: 0px !important;
}

.personName {  padding-left:0px; color:#5586e5; font-weight:100;}
.personSay {   padding-left:0px; color:#000; font-weight:500; padding-bottom:15px;}

.personName2 { float: right;  padding-left:0px; color:#5586e5; font-weight:100;}
.personSay2 {  float: right; padding-left:0px; color:#000; font-weight:500;padding-bottom:15px;}

ul { list-style-type:none; padding:0px; margin:0px;  }
ul li {   padding-left: 0px; }



.bubble::before {
    display:block;
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
    box-shadow:-2px 2px 2px 0 rgba(0, 0, 0, 0.14);
    left: -9px; 
  }

.bubble{
    display:block;
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    margin: 10px 10px;
    border-color: #cdecb0;
    width: 60%;
    
  }

.bubble2::before {
  display:block;
  float:right;
    background-color: rgba(238, 235, 166, 1);
    content: "\00a0";
    display: block;
    height: 19px;
    /*position: absolute;*/
  position:relative;
    left: 26px;
  top: 11px;
    transform:             rotate( 205deg ) skew( -35deg );
        -moz-transform:    rotate( 205deg ) skew( -35deg );
        -ms-transform:     rotate( 205deg ) skew( -35deg );
        -o-transform:      rotate( 205deg ) skew( -35deg );
        -webkit-transform: rotate( 205deg ) skew( -35deg );
    width:  20px;
    box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.17););
     
  }

.bubble2{
    display:block;
    width: 60%;
    background-color: rgba(238, 235, 166, 1);
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
    margin: 10px 10px;
    border-color: #cdecb0;
    
  }

span.personTimestamp {
  float: right;
  font-size: 5px;
  position: relative;
  bottom: -13px;
  right: -10px;
  color: rgb(204, 53, 53);
}

/*END CHAT CSS */
/* Circle Avatar Styles */
 
.avatar {
  line-height: 0 !important;   /* remove line-height */ 
  display: inline-block !important;  /* circle wraps image */
  margin: 5px !important;
  border-radius: 50% !important; /* relative value */
  border: 3px solid white !important;/* border width   */
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4) !important;  
  transition: linear 0.25s !important;
  width:100px !important;
}
.avatar img {
  border-radius: 50%; /* relative value for
           adjustable image size */
}
.avatar:hover {
  transition: ease-out 0.3s;
  transform: scale(0.8) rotate(20deg);
}
a.avatar { color: transparent; } /* IE fix: removes blue border */

div.mainPerson {
  text-align: center;
  width: 100px;
  display: inline-block;
  background:url(http://www.american.edu/uploads/profiles/large/chris_palmer_profile_11.jpg) no-repeat;
  height:100px;
  background-size: 100px;
}
a.nameofPerson {
  top: 45px;
  position:relative;
  color: rgb(177, 255, 11);
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}


